[Unit]
Description=Story Consensus Client
After=network-online.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/story run
Restart=always
RestartSec=3
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target