[Unit]
Description=Story Geth Execution Client
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/geth --iliad --syncmode full --metrics --metrics.addr 127.0.0.1 --metrics.port 6060
Restart=always
RestartSec=3
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target